html, body, #mainContainer {
  width       : 100%;
  height      : 100%;
  margin      : 0;
  padding     : 0;
  font-family : "Trebuchet", "segoe ui", sans-serif;
  color       : #333;
}

.dijitDialogUnderlay {
  display : none !important;
}

#topNode {
  color         : #eee;
  text-shadow   : 1px 1px 0 black;
  font-weight   : bolder;
  margin-bottom : 20px;
  padding       : 10px;
  background    : #445966;
  /*background    : -moz-linear-gradient(top, #28343b 0%, #828c95 64%, #ffffff 100%);
  background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #28343b), color-stop(64%, #828c95), color-stop(100%, #ffffff));
  background    : -webkit-linear-gradient(top, #28343b 0%, #828c95 64%, #ffffff 100%);
  background    : -o-linear-gradient(top, #28343b 0%, #828c95 64%, #ffffff 100%);
  background    : -ms-linear-gradient(top, #28343b 0%, #828c95 64%, #ffffff 100%);
  background    : linear-gradient(to bottom, #28343b 0%, #828c95 64%, #ffffff 100%);
  filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#ffffff', GradientType=0);*/
}

#orgThumbnail {
  background-color : ghostwhite;
  max-height       : 50px;
  padding          : 10px;
}

#orgName {
  font-size : x-large;
}

#dateNode {
  font-size  : small;
  font-style : italic;
}

#portalUser {
  font-size : small;
}

.section {
  clear         : both;
  margin-bottom : 20px;
}

.sectionTitle {
  cursor      : pointer;
  height      : 30px;
  padding     : 10px;
  font-size   : x-large;
  font-weight : bolder;
  color       : #eee;
  background  : #445966;
  background  : -moz-linear-gradient(left, #445966 0%, #828c95 64%, #b5bdc8 100%);
  background  : -webkit-gradient(linear, left top, right top, color-stop(0%, #445966), color-stop(64%, #828c95), color-stop(100%, #b5bdc8));
  background  : -webkit-linear-gradient(left, #445966 0%, #828c95 64%, #b5bdc8 100%);
  background  : -o-linear-gradient(left, #445966 0%, #828c95 64%, #b5bdc8 100%);
  background  : -ms-linear-gradient(left, #445966 0%, #828c95 64%, #b5bdc8 100%);
  background  : linear-gradient(to right, #445966 0%, #828c95 64%, #b5bdc8 100%);
  filter      : progid:DXImageTransform.Microsoft.gradient(startColorstr='#445966', endColorstr='#b5bdc8', GradientType=1);
}

.sectionTitle:hover, .titleNode:hover {
  color            : darkslategray;
  border-top-color : darkslategray;
  background       : #add9e4;
  background       : -moz-linear-gradient(left, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%);
  background       : -webkit-gradient(linear, left top, right top, color-stop(0%, #add9e4), color-stop(60%, #d9edf2), color-stop(100%, #f7fbfc));
  background       : -webkit-linear-gradient(left, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%);
  background       : -o-linear-gradient(left, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%);
  background       : -ms-linear-gradient(left, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%);
  background       : linear-gradient(to right, #add9e4 0%, #d9edf2 60%, #f7fbfc 100%);
  filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#add9e4', endColorstr='#f7fbfc', GradientType=1);
}

.servicesSection {
  border-top : solid 3px #222;
}

.webmapsSection {
  border-top : solid 3px #555;
}

.previewTableContainer {
  margin  : 10px;
  padding : 10px;
}

.titleNode {
  color       : white;
  height      : 20px;
  padding     : 10px;
  cursor      : pointer;
  font-weight : bolder;
  font-size   : large;
  background  : #596a72;
  background  : -moz-linear-gradient(left, #596a72 0%, #cedce7 100%);
  background  : -webkit-gradient(linear, left top, right top, color-stop(0%, #596a72), color-stop(100%, #cedce7));
  background  : -webkit-linear-gradient(left, #596a72 0%, #cedce7 100%);
  background  : -o-linear-gradient(left, #596a72 0%, #cedce7 100%);
  background  : -ms-linear-gradient(left, #596a72 0%, #cedce7 100%);
  background  : linear-gradient(to right, #596a72 0%, #cedce7 100%);
  filter      : progid:DXImageTransform.Microsoft.gradient(startColorstr='#596a72', endColorstr='#cedce7', GradientType=1);
}

.servicesTitle {
  border-top : solid 3px #555;
}

.webmapsTitle {
  border-top : solid 3px #555;
}

.stats {
  float       : right;
  font-size   : small;
  font-style  : italic;
  padding-top : 5px;
  color       : darkslategray;
}

.previewTable {
  font-size        : 11pt;
  background-color : ghostwhite;
}

.ownerNameCell {
  width          : 150px;
  vertical-align : top;
}

.ownerNameNode {
  text-align    : right;
  padding-right : 10px;
  font-weight   : bolder;
}

.itemNode {
  float      : left;
  width      : 60px;
  height     : 40px;
  margin     : 2px;
  padding    : 2px;
  border     : solid 2px #ccc;
  background : url(./images/default_item_silver.png) no-repeat center;
}

.status {
  padding : 1px 10px;
}

.checking {
  border-color     : orange !important;
  background-image : url(./images/busy_red.gif) !important;
}

.available {
  border-color     : limegreen !important;
  background-image : none !important;
}

.notavailable, .unabletoload, .notchecked, .storedinmap, .nolayers {
  border-color     : darkred !important;
  background-image : url(./images/GenericExclamation.png) !important;
}

.aborted {
  border-color     : purple !important;
  background-image : url(./images/GenericExclamation.png) !important;
}

.busy {
  border-color     : yellow !important;
  background-image : url(./images/GenericExclamation.png) !important;
}

.timeoutexceeded {
  border-color     : cyan !important;
  background-image : url(./images/GenericExclamation.png) !important;
}

.unabletocompleteoperation {
  border-color     : #ff1bf7 !important;
  background-image : url(./images/GenericExclamation.png) !important;
}

.thumbNode {
  width  : 60px;
  height : 40px;
  cursor : pointer;
}

.portalUrlNode {
  cursor  : pointer;
  width   : 200px;
  margin  : 2px;
  padding : 4px;
}

/*
#sections .dijitButtonNode {
  background : #ffb84c;
}

#sections .dijitButtonText {
  color : darkslategray;
}
*/

.dijitDialogTitleBar, .dijitDialogTitle, .dijitButtonNode {
  border : none !important;
}

.dijitTooltipContainer, .dijitDialog, .dijitDialogPaneContent, .esriSignInDialog {
  /*color        : silver !important;*/
  /*background   : #333 !important;*/
  /*border-color : #444 !important;*/
}

.dijitTooltipContainer {
  border-width : 2px !important;
}

.dijitTooltipConnector {
  background-image : url(./images/tooltip.png) !important;
}

.dijitDialogPaneActionBar {
  /*background   : #555 !important;*/
  /*border-color : #555 !important;*/
}

.cell {
  padding       : 0 15px;
  /*border-bottom: solid 1px #add8e6;*/
  border-bottom : solid 1px silver;
}

.edge {
  height : 15px;
}

.info {
  margin      : 0 3px;
  padding     : 3px 6px;
  border-left : solid 1px darkred;
}

.actionNode {
  margin-top  : 10px;
  font-weight : bolder;
  border      : none !important;
}

.refreshBtn {
  float         : right;
  margin-left   : 20px;
  margin-top    : 0;
  font-size     : small;
}

.refreshBtn .dijitButtonContents {
  outline : none !important;
}

.dijitDialogPaneActionBar {
  vertical-align : middle;
}

.signInInput {
  float : left;
}